*.pyc
.DS_Store
deploy/.vagrant
.vagrant
*.pid
django_deployment_env/*
*\#
*~
*#
*.sublime-project
aws.cfg
fab_hosts/*
*.sublime-workspace
chef_files/dep_cookbooks/*
chef_files/cookbooks/*
chef_files/hold_cookbooks/*
chef_files/data_bag_key
chef_files/data_bags/*
venv
hold_chef_files/*
settings.json
*.lock
.#*
*_old
*/*/local_settings.pychef_files/data_bag_key
