*.pyc
.DS_Store
*.pid
*\#
*~
*#
*.sublime-project
*.sublime-workspace
chef_files/dep_cookbooks/*
chef_files/cookbooks/*
chef_files/hold_cookbooks/*
chef_files/data_bag_key
chef_files/data_bags/*
venv
hold_chef_files/*
*.lock
.#*
*_old
*/*/local_settings.pychef_files/data_bag_key

# Ignore files generated during deployment. They are transient to your
# environment and shouldn't be tracked in the VCS.
deploy/
nodes/
chef_files/data_bag_key
chef_files/data_bag_key
